<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/9.3/configuration.html# -->
<!-- xmlns="./vendor/phpunit/phpunit/schema/9.2.xsd" -->
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheResultFile="tests/_reports/.phpunit.cache/test-results"
  executionOrder="depends,defects"
  forceCoversAnnotation="false"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="true"
  failOnRisky="true"
  failOnWarning="true"
  verbose="true"
>

  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
  </testsuites>

  <coverage
    cacheDirectory="tests/_reports/.phpunit.cache/code-coverage"
    includeUncoveredFiles="true"
    processUncoveredFiles="true"
    pathCoverage="true"
    ignoreDeprecatedCodeUnits="true"
    disableCodeCoverageIgnore="false"
  >
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="tests/_reports/_coverage/clover.xml"/>
      <crap4j outputFile="tests/_reports/_coverage/crap4j.xml" threshold="50"/>
      <html outputDirectory="tests/_reports/_coverage/html-coverage" lowUpperBound="50" highLowerBound="99"/>
      <xml outputDirectory="tests/_reports/_coverage/xml-coverage"/>
      <php outputFile="tests/_reports/_coverage/coverage.php"/>
      <text outputFile="tests/_reports/_coverage/coverage.txt" showUncoveredFiles="true" showOnlySummary="true"/>
    </report>
  </coverage>

  <logging>
    <junit outputFile="tests/_reports/report.junit.xml"/>
    <teamcity outputFile="tests/_reports/_teamcity/teamcity.txt"/>
    <testdoxHtml outputFile="tests/_reports/_testdox/testdox.html"/>
    <testdoxText outputFile="tests/_reports/_testdox/testdox.txt"/>
    <testdoxXml outputFile="tests/_reports/_testdox/testdox.xml"/>
    <text outputFile="tests/_reports/logfile.txt"/>
  </logging>

</phpunit>
